# Prerequisites
*.d

# VS Code
.vscode

# Glade backup
*~
\#MVoice.*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# intermediate files
qdvdash.service

# host files
gwys.txt
XLX_Hosts.txt
DExtra_Hosts.txt
DPlus_Hosts.txt
DCS_Hosts.txt
My_Hosts.txt

# Executable
mvoice
